{% extends "base.html" %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<!-- Contenido -->

<a href="/objetos" class="regresar">
    <i class="fas fa-arrow-left"></i> Regresar
</a>

<h1>Inventario de Objetos</h1>


<div class="search-container">
    <form name="formSearch" method="POST" action="{{ url_for('search_route') }}" class="search-container" autocomplete="off">
        <input type="search" name="buscar" class="search_input" placeholder="Buscar...">
        <button type="submit" class="search_btn">
            <i class="fa-solid fa-magnifying-glass"></i> Buscar
        </button>
    </form>
    


    <div class="filter-dropdown">
        <button class="filter-btn">
            <i class="fa-solid fa-sliders"></i> Filtrar
        </button>
        <div class="dropdown-content">
            <a href="#">Menor stock</a>
            <a href="#">Mayor stock</a>
            <a href="#">Ordenar A-Z</a>
            <a href="#">Formación</a>
            <a href="#">Consumibles</a>
        </div>
    </div>
</div>

<div class="full-width divider-menu-h"></div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
        <div class="table-responsive">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Nombre Producto</th>
                        <th>Código</th>
                        <th>Stock</th>
                        <th>Tipo Objeto</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                        <td>Product Code</td>
                        <td>7</td>
                        <td>Consumibles</td>
                        <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
                                    class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                        <td>Product Code</td>
                        <td>7</td>
                        <td>Formación</td>
                        <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
                                    class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                        <td>Product Code</td>
                        <td>7</td>
                        <td>Consumibles</td>
                        <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
                                    class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                        <td>Product Code</td>
                        <td>7</td>
                        <td>Formación</td>
                        <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
                                    class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                        <td>Product Code</td>
                        <td>7</td>
                        <td>Consumibles</td>
                        <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
                                    class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                        <td>Product Code</td>
                        <td>7</td>
                        <td>Formación</td>
                        <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
                                    class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">Product Name</td>
                        <td>Product Code</td>
                        <td>7</td>
                        <td>Consumibles</td>
                        <td><button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
                                    class="fa-solid fa-ellipsis"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/static/javascripts/menu_lateral.js"></script>
{% endblock %}