<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/register.css">
    <title>Registrarme - Inventario de Objetos</title>
</head>

<body>

    <!-- Barra de Menú -->
    <div class="navbar">
        <ul> 
            <!-- Logo -->
            <!-- <li><a href="/#home" class="logo">
                    <img src="/static/img/facebook.png">
                </a></li> --> 
                
            <li><a href="/templates/homepage.html"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/templates/quienes_somos.html"><i class="fa fa-fw fa-search"></i> ¿Quiénes Somos?</a></li>
            <li><a href="/templates/sobre_nosotros.html"><i class="fa-solid fa-users"></i> Sobre Nosotros</a></li>
            <li><a href="/templates/login.html"><i class="fa fa-fw fa-user"></i> Iniciar Sesión</a></li>
            <li><a class="active" href="/templates/register.html"><i class="fa fa-fw fa-user"></i> Registrarme</a></li>
        </ul>
    </div>

    <!-- Contenido -->



    <!-- Footer -->

    <footer>
        <h3>www.sena.edu.co</h3>
        <nav>
            <ul>
                <li><a href="#"><img src="/static/img/instagram.png" alt="instagram_icon"></a></li>
                <li><a href="#"><img src="/static/img/facebook.png" alt="facebook_icon"></a></li>
                <li><a href="#"><img src="/static/img/twitter.png" alt="twitter_icon"></a></li>
                <li><a href="#"><img src="/static/img/youtube.png" alt="youtube_icon"></a></li>
                <li><a href="#"><img src="/static/img/linkedin.png" alt="linkedin_icon"></a></li>
            </ul>
            <p>@SENAComunica</p>
        </nav>
        <br>
        <p>&copy; 2024 Servicio Nacional de Aprendizaje - SENA</p>
    </footer>

</body>

</html>